# File operations

In [1]:
import csv
import pickle
import copy

def load_table_csv(file_name=''):
    if file_name == '':
        file_name = input('Введите имя файла, из которого вы хотите скопировать таблицу: ')
    rows = []
    with open(file_name) as file:
        reader = csv.reader(file, delimiter=';')
        for row in reader:
            rows.append(row)
    rows[0][0] = rows[0][0].replace('п»ї', '')
    return rows

def save_table_csv(table, new_file_name=''):
    if new_file_name == '':
        new_file_name = input('Введите имя файла, в который вы хотите сохранить таблицу: ')
    with open(new_file_name, 'w', newline='') as file:
        writer = csv.writer(file, delimiter=';')
        writer.writerows(table)
    return True

def load_table_pickle(file_name=''):
    if file_name == '':
        file_name = input('Введите имя файла, из которого вы хотите скопировать объект: ')
    with open(file_name, 'rb') as file:
        object = pickle.load(file)
    return object

def save_table_pickle(object, new_file_name=''):
    if new_file_name == '':
        new_file_name = input('Введите имя файла, в который вы хотите сохранить объект: ')
    with open(new_file_name, 'wb') as file:
        pickle.dump(object, file)
    return True

def filler(tablex):
    table = copy.deepcopy(tablex)
    max_len = 0
    for row in table:
        for yach in row:
            if len(yach) > max_len:
                max_len = len(yach)
    for i in range(len(table)):
        for j in range(len(table[i])):
            pered = 0
            szad = 0
            if len(table[i][j]) < max_len:
                diff = max_len - len(table[i][j])
                pered = diff//2
                szad = diff - pered
            table[i][j] = ' ' * pered + table[i][j] + ' ' * szad + ' '
    new_table = []
    for row in table:
        new_row = ''
        for obj in row:
            new_row += obj
        new_table.append(new_row)
    return new_table

def save_table_txt(table, new_file_name=''):
    new_table = filler(table)
    if new_file_name == '':
        new_file_name = input('Введите имя файла, в который вы хотите сохранить таблицу: ')
    with open(new_file_name, 'w') as file:
        for row in new_table:
            file.write(row + '\n')
    return True

def get_rows_by_number(table, start, stop = ''):
    if stop == '':
        stop = start
    return table[start-1:stop]

def get_rows_by_index(table, *values):
    new_table = []
    for row in table:
        if row[0] in values:
            new_table.append(row)
    return new_table

def get_column_types(table, by_number = True):
    types = {}
    for i in range(len(table[0])):
        if by_number:
            types[i+1] = type(table[1][i])
        else:
            types[table[0][i]] = type(table[1][i])
    return types

def get_values(table, column = 0):
    new_column = []
    if type(column) == str:
        column = table[0].index(column)+1
    for row in table:
        new_column.append(row[column-1])
    return new_column

def get_value(table, column = 0):
    if type(column) == str:
        column = table[0].index(column)+1
    return table[1][column-1]

def set_values(tablex, values, column = 0):
    table = copy.deepcopy(tablex)
    if type(column) == str:
        column = table[0].index(column)+1
    for i in range(1, len(table)):
        for j in range(len(table[i])):
            if j == column-1:
                table[i][j] = values[i-1]
    return table

def set_value(tablex, value, column = 0):
    table = copy.deepcopy(tablex)
    if type(column) == str:
        column = table[0].index(column)+1
    table[1][column-1] = value
    return table

def print_table(table):
    new_table = filler(table)
    for row in new_table:
        print(row)
    return True

def merge_tables(table1x, table2x, by_number = True):
    table1 = copy.deepcopy(table1x)
    table2 = copy.deepcopy(table2x)
    merged_table = []
    if by_number:
        for i in range(len(table1)):
            merged_row = []
            for j in range(len(table1[i])):
                merged_row.append(table1[i][j] + ' ' + table2[i][j])
            merged_table.append(merged_row)
    else:
        merged_row = []
        for k in range(len(table1[0])):
            merged_row.append(table1[0][k] + ' ' + table2[0][k])
        merged_table.append(merged_row)
        for i in range(1, len(table1)):
            for j in range(1, len(table2)):
                merged_row = []
                if table1[i][0] == table2[j][0]:
                    for k in range(len(table1[i])):
                        merged_row.append(table1[i][k] + ' ' + table2[j][k])
            merged_table.append(merged_row)
    return merged_table

In [2]:
table1 = load_table_csv('CSVs.csv')
save_table_csv(table1, 'New_CSV.csv')

True

In [3]:
table2 = load_tble_pickle('Pickles.pickle')
save_table_pickle(table2, 'New_Pickle.pickle')

True

In [4]:
save_table_txt(table1, 'New_Text.txt')

True

In [14]:
print_table(table1)

Header 1 Header 2 Header 3 Header 4 Header 5
Info 11  Info 12  Info 13  Info 14  Info 15
Info 21  Info 22  Info 23  Info 24  Info 25
Info 31  Info 32  Info 33  Info 34  Info 35
Info 41  Info 42  Info 43  Info 44  Info 45
Info 51  Info 52  Info 53  Info 54  Info 55

True

In [5]:
print_table(get_rows_by_number(table1, 2, 4))

Info 11 Info 12 Info 13 Info 14 Info 15
Info 21 Info 22 Info 23 Info 24 Info 25
Info 31 Info 32 Info 33 Info 34 Info 35

True

In [6]:
print_table(get_rows_by_index(table1, 'Info 21', 'Info 51'))

Info 21 Info 22 Info 23 Info 24 Info 25
Info 51 Info 52 Info 53 Info 54 Info 55

True

In [7]:
print(get_column_types(table1))
print(get_column_types(table1, False))

{1: <class 'str'>, 2: <class 'str'>, 3: <class 'str'>, 4: <class 'str'>, 5: <class 'str'>}
{'Header 1': <class 'str'>, 'Header 2': <class 'str'>, 'Header 3': <class 'str'>, 'Header 4': <class 'str'>, 'Header 5': <class 'str'>}

In [8]:
print(get_values(table1, 4))
print(get_values(table1, 'Header 3'))

['Header 4', 'Info 14', 'Info 24', 'Info 34', 'Info 44', 'Info 54']
['Header 3', 'Info 13', 'Info 23', 'Info 33', 'Info 43', 'Info 53']

In [9]:
print(get_value(table1, 3))
print(get_value(table1, 'Header 2'))

Info 13
Info 12

In [10]:
print_table(set_values(table1, ['Test value', 'Test value', 'Test value', 'Test value', 'Test value'], 3))
print_table(set_values(table1, ['Test value', 'Test value', 'Test value', 'Test value', 'Test value'], 'Header 4'))

 Header 1   Header 2   Header 3   Header 4   Header 5
 Info 11    Info 12   Test value  Info 14    Info 15
 Info 21    Info 22   Test value  Info 24    Info 25
 Info 31    Info 32   Test value  Info 34    Info 35
 Info 41    Info 42   Test value  Info 44    Info 45
 Info 51    Info 52   Test value  Info 54    Info 55
 Header 1   Header 2   Header 3   Header 4   Header 5
 Info 11    Info 12    Info 13   Test value  Info 15
 Info 21    Info 22    Info 23   Test value  Info 25
 Info 31    Info 32    Info 33   Test value  Info 35
 Info 41    Info 42    Info 43   Test value  Info 45
 Info 51    Info 52    Info 53   Test value  Info 55

True

In [11]:
print_table(set_value(table1, 'Test value', 2))
print_table(set_value(table1, 'Test value', 'Header 5'))

 Header 1   Header 2   Header 3   Header 4   Header 5
 Info 11   Test value  Info 13    Info 14    Info 15
 Info 21    Info 22    Info 23    Info 24    Info 25
 Info 31    Info 32    Info 33    Info 34    Info 35
 Info 41    Info 42    Info 43    Info 44    Info 45
 Info 51    Info 52    Info 53    Info 54    Info 55
 Header 1   Header 2   Header 3   Header 4   Header 5
 Info 11    Info 12    Info 13    Info 14   Test value
 Info 21    Info 22    Info 23    Info 24    Info 25
 Info 31    Info 32    Info 33    Info 34    Info 35
 Info 41    Info 42    Info 43    Info 44    Info 45
 Info 51    Info 52    Info 53    Info 54    Info 55

True

In [12]:
print_table(table2)

NewH 1  NewH 2  NewH 3  NewH 4  NewH 5
NewI 11 NewI 12 NewI 13 NewI 14 NewI 15
NewI 21 NewI 22 NewI 23 NewI 24 NewI 25
NewI 31 NewI 32 NewI 33 NewI 34 NewI 35
NewI 41 NewI 42 NewI 43 NewI 44 NewI 45
NewI 51 NewI 52 NewI 53 NewI 54 NewI 55

True

In [13]:
print_table(merge_tables(table1, table2))

Header 1 NewH 1 Header 2 NewH 2 Header 3 NewH 3 Header 4 NewH 4 Header 5 NewH 5
Info 11 NewI 11 Info 12 NewI 12 Info 13 NewI 13 Info 14 NewI 14 Info 15 NewI 15
Info 21 NewI 21 Info 22 NewI 22 Info 23 NewI 23 Info 24 NewI 24 Info 25 NewI 25
Info 31 NewI 31 Info 32 NewI 32 Info 33 NewI 33 Info 34 NewI 34 Info 35 NewI 35
Info 41 NewI 41 Info 42 NewI 42 Info 43 NewI 43 Info 44 NewI 44 Info 45 NewI 45
Info 51 NewI 51 Info 52 NewI 52 Info 53 NewI 53 Info 54 NewI 54 Info 55 NewI 55

True